@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

.sidebar {
    width: 260px;
    background: #F9FAFB;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}

.sidebar-title {
    font-size: 40px;
    font-weight: bold;
    color: #01C03E;
    margin-top: 0%;
    margin-bottom: 2rem;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    text-decoration: none;
    color: #01C03E;
    font-size: 18px;
}

.nav-item i {
    font-size: 16px;
    color: #01C03E;
}

.nav-item.active,
.nav-item:hover {
    background-color: #7271715d;
    border-left: 4px solid #01C03E;
    color: #ffffff;
}

.nav-item.active i,
.nav-item:hover i {
    color: #ffffff;
}